@font-face {
  font-family: csgo;
  src: url("/assets/cs_regular.ttf");
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

img {
  display: block;
  height: 100%;
}

#root {
  min-height: 100vh;
}

#header {
  font-family: csgo;
}

#header,
#footer {
  padding: 35px 25px;
  background: #171a21;
  text-align: center;
}

#footer,
#header > h1 {
  color: #ffffff;
  font-size: 3em;
}

#footer {
  font-size: 1.4em;
  padding: 25px;
}

#footer a:hover {
  color: #fcaf33;
}

#main-body {
  background: #1d3244;
}

.body-main, .creators-main {
  min-height: 83vh;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Filter */

.filter {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.filter > input {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 300;
}

/* Players list */

.spinning-logo {
  margin: 0 auto;
  margin-top: 4em;
  width: 100px;
  height: 100px;
  background-image: url("https://lh3.googleusercontent.com/MorATTgpaNGsLVOmPYnwLxpuQGw66yMwjU5_xB788TkUtaKtCB_NQcJPIQQ7tC7gK3A=w300");
  background-size: contain;
  -webkit-animation: rotatate-y 1.5s infinite ease-in-out;
  animation: rotatate-y 1.5s infinite ease-in-out;
}

.players-table {
  width: 600px;
  height: 700px;
  margin-bottom: 2em;
  box-shadow: -2px 2px 5px 0px #12141a, -2px -2px 5px 0px #12141a,
    3px 3px 5px 0px #12141a, 4px -2px 3px 0px #12141a;
}

#table-header {
  background-color: #171d28;
  color: #ffffff;
  text-align: center;
  padding: 0.5em;

  font-size: 2.2em;
  letter-spacing: 1.5px;
}

.players-list {
  background: #222c36;
  height: 89.5%;
  overflow: auto;
}

.fat-msg {
  text-align: center;
  margin-top: 0.5em;
  font-size: 4em;
  color: #ed5454;
}

.table-row {
  display: flex;
  text-decoration: none;
  padding: 0.5em 1em;
  color: #79beec;
  cursor: none;
}

.player-page {
  margin: 0 10%;
  min-height: 83vh;
}

/* Player Header */

.player-header {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.player-header-image {
  min-width: 150px;
  min-height: 150px;
  max-width: 250px;
  max-height: 250px;
}

.player-info {
  display: flex;
  flex-direction: column;
  font-size: 4em;
  color: white;
  padding-left: 30px;
  padding-top: 5px;
}

.player-header-name {
  margin-bottom: 0.5em;
}

.player-header-name:hover {
  color: #79beec;
  -webkit-filter: drop-shadow(0 0 20px #8fd5dc);
  filter: drop-shadow(0 0 20px #8fd5dc);
}

.player-steam {
  width: 50px;
  height: 50px;
}

.steam-logo {
  height: 100%;
  background: url("../assets/steam-logo.svg");
}

/* Player Tabs */

.player-tabs {
  font-family: csgo;
  display: flex;
  margin: 10px auto;
  background-color: #171E28;
  justify-content: center;
  font-size: 3em;
}

.navbar-wrapper {
  background-color: inherit;
  display: flex;
  margin: 0 15px;
}

.player-tabs a {
  padding: 0.3em 0.4em;
  text-decoration: none;
  color: white;
}

.active {
  background-color: #FCB83A;
}

.player-tabs a:not(.active):hover {
  background-color: #317597;
}

.player-overview {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.7em;
}
.player-overview-table {
  width: 80%;
}

.player-recent-panel {
  margin-top: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Weapon Data Table */

.rt-thead {
  background-color: #368d90;
}

.rt-tr {
  font-size: 1.2em;
}

.rt-tr-group:hover {
  background-color: #192029;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  padding: 0.8em;
  line-height: 1em;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 0.59);
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 rgba(255, 255, 255, 0.59);
}

.ReactTable .rt-td:nth-child(3) {
  color: #21a5c4;
}

.ReactTable .rt-td:nth-child(4) {
  color: #13b92b;
}

.ReactTable .rt-td:nth-child(5) {
  color: #fcb83a;
}

.ReactTable .rt-td:not(:last-child) {
  padding-top: 10px;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
}

.weapon-name-row {
  display: flex;
  justify-content: space-between;
}

/* Progress Bar */

.ReactTable .rt-tbody .rt-td:last-child {
  cursor: pointer;
}

.progress-bar {
  position: relative;
}

.progress-bar > span {
  font-family: csgo;
  position: absolute;
  padding-left: 5px;
  top: 40%;
  left: 35%;
}

.col {
  width: 20%;
}

.table-row:hover {
  background: #f0a76994;
  color: #c7e181;
  cursor: url(../../assets/crosshair.png), auto;
}

.profile-image {
  min-width: 70px;
  min-height: 70px;
  width: 70px;
  height: 70px;
  margin-right: 3em;
  border: 2px solid;
}

.profile-name {
  align-self: center;
  font-size: 2.5em;
  line-height: 28px;
}

/* Heatmap Component */

#heatmap {
  width: calc(1024px * 0.6);
  height: calc(1024px * 0.6);
  background-size: calc(1024px * 0.6);
  background-image: url(".././assets/de_dust2_radar_spectate.png");
}

.heatmap-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* Heatmap filter */

.heatmap-filters {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
  color: #ffffff;
  background-color: #327497;
  border-radius: 4px;
  font-family: csgo;
}

.heatmap-filters > div {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}

.filter-header {
  justify-content: space-between;
}

.filter-header > div {
  margin: 0.5em 0 0.3em 0;
}

.separator {
  border-bottom: 1px solid;
}

.filter-body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter-boxes > label,
.filter-stats > div {
  margin-top: 1em;
}

.filter-stats {
  text-align: center;
  margin: 0 3em;
}

/* Checkbox */

.custom-checkbox {
  display: block;
}

.custom-checkbox > input[type="checkbox"] {
  display: none;
}

.custom-checkbox .box {
  width: 34px;
  height: 34px;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid transparent;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.box:after {
  width: 50%;
  height: 20%;
  content: "";
  position: absolute;
  border-left: 7.5px solid;
  border-bottom: 7.5px solid;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transform-origin: center center;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  left: 0;
  right: 0;
  top: 200%;
  bottom: 5%;
  margin: auto;
}

.c:after {
  border-color: #21a4c4;
}

.t:after {
  border-color: #e7b53c;
}

.custom-checkbox input:checked + .box {
  background-color: #162530;
}
.custom-checkbox input:checked + .box:after {
  top: 0;
}
/* * { border: 1px solid red; } */

.checkbox {
  margin: 0 22px;
}

.checkboxes {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.vert-line {
  margin: 0 5px;
  border-left: 2px solid rgb(1, 2, 1);
  height: 100%;
}

.body-head {
  width: 24%;
  height: 100%;
}

.body-body {
  width: 35%;
  height: 100%;
}

.body-arm {
  width: 30%;
  height: 90%;
}

.body-legs {
  width: 40%;
  height: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.body-upper-section {
  display: flex;
  height: 25%;
  justify-content: center;
}

.body-mid-section {
  display: flex;
  height: 41%;
  justify-content: space-around;
}

.body-lower-section {
  display: flex;
  height: 53%;
  width: 46%;
  margin: 0 auto;
  justify-content: space-around;
}

.body {
  background-color: #59616f;
  border-radius: 11px;
}

.circle {
  margin: 0 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

tbody {
  color: wheat;
}

td > img {
  max-width: 60px;
}

.player-status {
  display: flex;
}

.player-body {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.weapons-table > tbody > tr:nth-of-type(2n + 1) {
  background: rgba(167, 157, 157, 0.125);
}

.weapons-table {
  width: 100%;
}

.weapons-table > tbody > tr > th {
  font-size: 25px;
}

.resize-parent {
  width: 100%;
  color: #ffffff;
}

.resize-child {
  height: 100%;
  transition: width 0.4s ease;
}

.flex {
  display: flex;
}

.full {
  height: 100%;
  width: 100%;
}

.first {
  width: 100%;
}

.second {
  width: 0%;
  overflow-x: hidden;
}

.map-tiles {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-tile {
  overflow: hidden;
  border-radius: -2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 49%;
  margin: 5px 0%;
}

.map-tile:nth-child(1) {
  width: 100%;
}

.map-tile:first-of-type {
  font-size: 2em;
}

.map-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.map-image > img {
  object-fit: contain;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.map-image:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);

}

.map-info {
  display: flex;
  justify-content: space-between;
  margin-top: -6%;
  position: absolute;
  bottom: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.map-info-tags {
  display: flex;
  align-items: center;
  height: 30px;
  color: black;
  font-family: "Ubuntu";
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -1px;
}

.map-info-tags > span {
  width: 100%;
  font-weight: 700;
  font-size: 90%;
  margin-right: 1em;
}
.map-info-tags > img {
  height: 67%;
  margin: 0 5px;
  align-self: center;
}

.map-info-img {
  width: 30px;
  height: 30px;
}

#map-name {
  font-size: 100%;
}

.weapon-img {
  display: flex;
  justify-content: center;
}

.weapon-img > img {
  display: block;
  height: 100%;
  width: 81%;
}

.weapons-table > img > svg > path {
  fill: white;
}

.panel-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.panel-tile > div:nth-child(2) {
  padding-top: 1em;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: #0da6c7;
}

.tile-footer {
  display: flex;
  justify-content: space-between;
  max-height: 31px;
  font-size: 20px;
  padding: 0px 7px 5px 24px;
  color: #ffffff;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.right-side > span {
  align-self: center;
}
.right-side > img {
  object-fit: contain;
  max-height: 100%;
  margin: 0 5px;
}

.left-side {
  font-size: 100%;
}

.shots-fired-img {
  background: url(".././assets/weapons/crosshair.svg");
}

.accuracy-img {
  background: url(".././assets/weapons/bullseye.svg");
}


.w-stats-img {
  width: 25px;
  margin: 0 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Craetors */

.creators-main {
  font-family: "Roboto", sans-serif;
  color: white;
}

.whoweare {
  padding-top: 2em;
}

.wrapper {
  width: 90%;
  max-width: 65em;
  margin: 0 auto;
}

.title {
  font-size: 3.5em;
  text-align: center;
}

.brief-info {
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 28px;
}

.developers:before {
  content: " ";
  display: block;
  background-color: #ffffff;
  height: 1px;
  width: 40%;
  margin: 3em auto;
}

.dev-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.developer {
  display: inline-block;
  margin: 0.5em 0.5em 2em 0.5em;
  width: 300px;
  max-width: 500px;
}

.dev-photo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.dev-photo img {
  border-radius: 50%;
}

.dev-info {
  text-align: center;
  font-size: 2em;
}

.dev-info, .links {
  margin-top: 1.25em;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 90px;
}

/* KD Chart top-part*/

.stats-bar {
  margin-top: -1em;
  text-align: center;
}

.stats-bar > ul > li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

.stats-bar > ul > li > span {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  color: rgb(179,179,179);
}

.stats-bar > ul > li > p {
  font-size: 24px;
}

#wins-stats {
  color: #f5f5f5;
}

#kills-stats {
  color: #66bb6a;
}

#deaths-stats {
  color: #ff4c4c;
}

#assists-stats {
  color: #c5a912;
}

/* KD Chart itself */

#kd-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#insights {
  visibility: hidden;
  margin-top: 10px;
  color: #f5f5f5;
  font-size: 1.2em;
}

.chart-info {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 0.1px solid #adadad;
}

.diagram-icon {
  background: url("https://image.flaticon.com/icons/svg/144/144027.svg");
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.chart-info p {
  color: #ffffff;
  font-size: 1.5em
}

.dachart path {
  cursor: pointer;
}


/* img {
  height: auto;
  width: 100%;
} */

/*#mainBubble {
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  font: 10px sans-serif;
  height: 800px;
  position: relative;
  width: 80%;
}

#mainBubble svg {
  left: 0;
  position: absolute;
  top: 0;
}

#mainBubble circle {
  fill: steelblue;
 }*/

/* Animation */

@-webkit-keyframes rotatate-y {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(0deg);
  }
}

@keyframes rotate-y {
  0% {
    transform: perspective(120px);
    -webkit-transform: perspective(120px);
  }
  50% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
  }
}


/* Media Queries */

@media (max-width: 1270px) {
  . {
    padding: 1em 0;
  }

  .heatmap-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .heatmap-container > div {
    margin-bottom: 1em;
  }

  .heatmap-filters {
    max-width: 395px;
  }
}

@media (max-width: 670px) {
  .player-page {
    margin: 0 auto;
  }

  .player-info {
    font-size: 2em;
  }

  .player-tabs {
    font-size: 35px;
  }

  .navbar-wrapper a {
    padding: 20px;
  }

}

@media (max-width: 550px) {
  .player-header-image {
    width: 130px;
    height: 130px;
  }

  .player-info {
    font-size: 1.5em;
  }

  .player-tabs {
    font-size: 25px;
  }

  .navbar-wrapper a {
    padding: 12.5px;
  }
}
