.panel {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel > .heading {
  padding: 0.625rem 0;
  color: #ffffff;
  background-color: #373e73;
  box-shadow: -1px 6px 6px -6px rgba(0, 0, 0, 0.35);
  font-size: 3em;
  text-align: center;
  border-radius: 4px;
  text-transform: lowercase;
}

.panel:nth-child(3) .map-tile {
  background: radial-gradient(circle, #dadada, #8a8a8a, #505050);
}

.panel:nth-child(1) .map-image > img {
  object-fit: cover;
}

.tab {
  color: rgba(0, 0, 0, 0.87);
  background-color: #16242f;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 100%;
  height: 100%;
  margin: 1px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.weapon-data-foo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  padding: 0 24px;
  color: rgba(11, 179, 214, 0.9);
  box-sizing: border-box;
}

.player-outcome {
  padding: 20px;
  border-right: 10px solid;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Weapons Chart */

#weapons-chart {
  height: 300px;
  width: 100%;
  /* border: 3px solid red; */
}

#kd-chart{
  height: 500px;
}

.axis {
  font: 1em sans-serif;
}

.domain, .tick line {
  stroke: white;
}

.tick text {
  fill: white;
}

tr  {
  width: 100%
}

.ReactTable .rt-tbody .rt-td {
    height: 50px;
}
