@font-face {
  font-family: csgo;
  src: url("../assets/cs_regular.ttf");
}

#header {
  padding: 10px;
  background: #171a21;
  text-align: center;
}

#header > h1 {
  color: #ffffff;
  letter-spacing: 5px;
}

#main-body {
  background: #484e58;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Filter */

.filter {
  /* text-align: center; */
  margin: 2em auto;
}

.filter > input {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 300;
}

/* Players list */

.spinning-logo {
  max-width: 70px;
  max-height: 70px;

  -webkit-animation: rotatate-y 1.5s infinite ease-in-out;
  animation: rotatate-y 1.5s infinite ease-in-out;
}

.players-list {
  background: #34373c;
  height: 45vh;
  width: 50%;
  overflow-y: scroll;
}

#heatmap {
  width: calc(1024px * 0.4);
  height: calc(1024px * 0.4);
  background-size: calc(1024px * 0.4);
  background-image: url("../assets/de_dust2_radar_spectate.jpg");
}

body {
  font-family: csgo;
}

.heatmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  margin-left: 5px;
}

.table-row {
  background-color: #34373c;
  padding: 5px;
  /* margin: 5px; */
  display: flex;
  font-size: 24px;
  color: white;
  align-content: center;
  width: 98%;
  justify-content: space-between;
}

#table-header {
  background-color: rgb(15, 15, 15);
}

.checkbox {
  margin: 0 22px;
}

.checkboxes {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.vert-line {
  margin: 0 5px;
  border-left: 2px solid rgb(1, 2, 1);
  height: 100%;
}

.body-head {
  width: 24%;
  height: 100%;
}

.body-body {
  width: 35%;
  height: 100%;
}
.body-arm {
  width: 30%;
  height: 90%;
}

.body-legs {
  width: 40%;
  height: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.body-upper-section {
  display: flex;
  height: 25%;
  justify-content: center;
}

.body-mid-section {
  display: flex;
  height: 41%;
  justify-content: space-around;
}

.body-lower-section {
  display: flex;
  height: 53%;
  width: 46%;
  margin: 0 auto;
  justify-content: space-around;
}

.body {
  background-color: #59616f;
  border-radius: 11px;
}

/*#mainBubble {
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  font: 10px sans-serif;
  height: 800px;
  position: relative;
  width: 80%;
}

#mainBubble svg {
  left: 0;
  position: absolute;
  top: 0;
}

#mainBubble circle {
  fill: steelblue;
 }*/

 /* Animation */

 @-webkit-keyframes rotatate-y {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(0deg)   }
}

@keyframes rotate-y {
  0% {
    transform: perspective(120px);
    -webkit-transform: perspective(120px);
  } 50% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(180deg);
  } 100% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
  }
}
