@font-face {
  font-family: csgo;
  src: url("../assets/cs_regular.ttf");
}

#root {
  min-height: 100vh;
}

#header,
#footer {
  padding: 10px;
  background: #171a21;
  text-align: center;
}

#footer,
#header > h1 {
  color: #ffffff;
  letter-spacing: 5px;
}

#main-body {
  background: #1D3244;
}

.body-main {
  min-height: 100vh;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Filter */

.filter {
  /* text-align: center; */
  margin: 2em auto;
}

.filter > input {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 300;
}

/* Players list */

.spinning-logo {
  margin-top: 4em;
  width: 100px;
  height: 100px;
  background-image: url("https://lh3.googleusercontent.com/MorATTgpaNGsLVOmPYnwLxpuQGw66yMwjU5_xB788TkUtaKtCB_NQcJPIQQ7tC7gK3A=w300");
  background-size: contain;
  -webkit-animation: rotatate-y 1.5s infinite ease-in-out;
  animation: rotatate-y 1.5s infinite ease-in-out;
}

.players-table {
  width: 600px;
  height: 700px;
  margin-bottom: 2em;
  box-shadow: -2px 2px 5px 0px #12141a,
              -2px -2px 5px 0px #12141a,
              3px 3px 5px 0px #12141a,
              4px -2px 3px 0px #12141a;
}

#table-header {
  background-color: #171d28;
  text-align: center;
  padding: 0.5em;
  font-size: 3em;
  color: #fff;
}

.players-list {
  background: #222c36;
  height: 89.5%;
  overflow: auto;
}

.fat-msg {
  text-align: center;
  margin-top: 0.5em;
  font-size: 4em;
  color: #ed5454;
}

.table-row {
  display: flex;
  text-decoration: none;
  padding: 0.5em 1em;
  color: #79beec;
  cursor: none;
}

.player-overview {
  display: flex;
  justify-content: center;
}
.player-overview-table {
  width: 80%;
}

.col {
  width: 20%;
}

.table-row:hover {
  background: #f0a76994;
  color: #c7e181;
  cursor: url(../assets/crosshair.png), auto;
}

.profile-image {
  width: 70px;
  height: 70px;
  margin-right: 3em;
  border: 2px solid;
}

.profile-name {
  align-self: center;
  font-size: 2.5em;
  line-height: 28px;
}

/* Heatmap Component */

#heatmap {
  width: calc(1024px * 0.6);
  height: calc(1024px * 0.6);
  background-size: calc(1024px * 0.6);
  background-image: url("../assets/de_dust2_radar_spectate.png");
}

.heatmap-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0px 5%;
}

/* Heatmap filter */

.heatmap-filters {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 0.8em;
  color: #ffffff;
  background-color: #327497;
  border-radius: 4px;
}

.heatmap-filters > div {
  display: flex;
  font-size: 2em;
}

.filter-header {
  justify-content: space-between;
}

.filter-header > div {
  margin: 0.5em 0 0.3em 0;
}

.separator {
  border-bottom: 1px solid;
}

.filter-body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter-boxes > label, .filter-stats > div {
  margin-top: 1em;
}

.filter-stats {
  text-align: center;
  margin: 0 3em;
}

/* Checkbox */

.custom-checkbox {
  display: block;
  width: 30px;
  height: 30px;
}

.custom-checkbox > input[type="checkbox"] {
  display: none;
}

.custom-checkbox .box {
  width: 100%;
  height: 100%;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid transparent;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.box:after {
  width: 50%;
  height: 20%;
  content: '';
  position: absolute;
  border-left: 7.5px solid;
  border-bottom: 7.5px solid;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transform-origin: center center;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  left: 0;
  right: 0;
  top: 200%;
  bottom: 5%;
  margin: auto;
}

.c:after {
  border-color: #21A4C4;
}

.t:after {
  border-color: #E7B53C;
}

.custom-checkbox input:checked + .box {
  background-color: #162530;
}
.custom-checkbox input:checked + .box:after {
  top: 0;
}
/* * { border: 1px solid red; } */

body {
  margin: 0 auto;
  height: 100%;
  font-family: csgo;
}

img {
  display: block;
  height: 100%;
}

.checkbox {
  margin: 0 22px;
}

.checkboxes {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.vert-line {
  margin: 0 5px;
  border-left: 2px solid rgb(1, 2, 1);
  height: 100%;
}

.body-head {
  width: 24%;
  height: 100%;
}

.body-body {
  width: 35%;
  height: 100%;
}

.body-arm {
  width: 30%;
  height: 90%;
}

.body-legs {
  width: 40%;
  height: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.body-upper-section {
  display: flex;
  height: 25%;
  justify-content: center;
}

.body-mid-section {
  display: flex;
  height: 41%;
  justify-content: space-around;
}

.body-lower-section {
  display: flex;
  height: 53%;
  width: 46%;
  margin: 0 auto;
  justify-content: space-around;
}

.body {
  background-color: #59616f;
  border-radius: 11px;
}

.player-header-image {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  background-size: contain;
  border: white solid 7px;
}

.circle {
  margin: 0 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.player-header {
  display: flex;
  align-items: flex-end;
  margin: 1% 15%;
  width: 80%;
}

.player-header-name {
  font-size: 90px;
}

tbody {
  color: wheat;
}

td > img {
  max-width: 60px;
}

.player-info {
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.player-status {
  display: flex;
}

.player-body {
  display: flex;
  justify-content: center;
  padding: 5% 0;
}

.weapons-table > tbody > tr:nth-of-type(2n + 1) {
  background: rgba(167, 157, 157, 0.125);
}

.weapons-table {
  width: 100%;
}

.weapons-table > tbody > tr > th {
  font-size: 25px;
}

.resize-parent {
  width: 92%;
}

.resize-child {
  height: 100%;
  transition: width 0.4s ease;
}

.flex {
  display: flex;
}

.full {
  height: 100%;
  width: 100%;
}

.first {
  width: 100%;
}

.second {
  width: 0%;
  overflow-x: hidden;
}

.map-tiles {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-tile {
overflow: hidden;
border-radius: -2px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 49%;
margin: 5px 0%;
}

.map-tile:nth-child(1) {
  width: 100%;
}

.map-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.map-image > img {
  object-fit: cover;
  width: 100%;
}

.map-info {
  display: flex;
  justify-content: space-around;
  margin-top: -6%;
  position: absolute;
  bottom: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.map-info-tags {
  display: flex;
  height: 30px;
  color: black;
  font-family: "Ubuntu";
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -1px;
}

.map-info-tags > span {
  font-weight: 700;
  font-size: 77%;
  align-self: center;
}
.map-info-tags > img {
  height: 67%;
  margin: 0 5px;
  align-self: center;
}

#map-name {
  font-size: 100%;
}

.weapon-img {
  display: flex;
  justify-content: center;
}

.weapon-img > img {
  display: block;
  height: 100%;
  width: 81%;
}

.weapons-table > img > svg > path {
  fill: white;
}

.panel-tile {
  max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.tile-footer {
  display: flex;
  justify-content: space-around;
  max-height: 31px;
  font-size: 20px;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.right-side > span {
  align-self: center;
}
.right-side > img {
  object-fit: contain;
  max-height: 100%;
  margin: 0 5px;
}

.left-side {
  font-size: 100%;
}

/* img {
  height: auto;
  width: 100%;
} */

/*#mainBubble {
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  font: 10px sans-serif;
  height: 800px;
  position: relative;
  width: 80%;
}

#mainBubble svg {
  left: 0;
  position: absolute;
  top: 0;
}

#mainBubble circle {
  fill: steelblue;
 }*/

/* Animation */

@-webkit-keyframes rotatate-y {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(0deg);
  }
}

@keyframes rotate-y {
  0% {
    transform: perspective(120px);
    -webkit-transform: perspective(120px);
  }
  50% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
  }
}
