@font-face {
  font-family: csgo;
  src: url("../assets/cs_regular.ttf");
}

#root {
  min-height: 100vh;
}

#header, #footer {
  padding: 10px;
  background: #171a21;
  text-align: center;
}

#footer, #header > h1 {
  color: #ffffff;
  letter-spacing: 5px;
}

#main-body {
  height: 100%;
  background: #191e27;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Filter */

.filter {
  /* text-align: center; */
  margin: 2em auto;
}

.filter > input {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 300;
}

/* Players list */

.spinning-logo {
  margin-top: 4em;
  width: 70px;
  height: 70px;
  background-image: url("https://pbs.twimg.com/profile_images/889501252991594496/KaRaZTG3.jpg");
  background-size: contain;
  -webkit-animation: rotatate-y 1.5s infinite ease-in-out;
  animation: rotatate-y 1.5s infinite ease-in-out;
}

.players-table {
  width: 600px;
  height: 700px;
  margin-bottom: 2em;
  box-shadow: -2px 2px 5px 0px #12141A,
              -2px -2px 5px 0px #12141A,
              3px 3px 5px 0px #12141A,
              4px -2px 3px 0px #12141A;
}

#table-header {
  background-color: #171d28;
  text-align: center;
  padding: 0.5em;
  font-size: 3em;
  color: #fff;
}

.players-list {
  background: #222c36;;
  height: 89.5%;
  overflow: auto;
}

.fat-msg {
  text-align: center;
  margin-top: 0.5em;
  font-size: 4em;
  color: #ED5454;
}

.table-row {
  display: flex;
  text-decoration: none;
  padding: 0.5em 1em;
  color: #79beec;
  cursor: none;
}

.table-row:hover {
  background: #f0a76994;
  color: #C7E181;
  cursor: url(../assets/crosshair.png), auto;
}

.profile-image {
  width: 70px;
  height: 70px;
  margin-right: 3em;
  border: 2px solid;
}

.profile-name {
  align-self: center;
  font-size: 2.5em;
  line-height: 28px;
}

#heatmap {
  width: calc(1024px * 0.4);
  height: calc(1024px * 0.4);
  background-size: calc(1024px * 0.4);
  background-image: url("../assets/de_dust2_radar_spectate.jpg");
}
/* * { border: 1px solid red; } */
body {
  margin: 0 auto;
  height: 100%;
  font-family: csgo;
}

img {
  display: block;
  height: 100%;
}

.heatmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  margin: 0 22px;
}

.checkboxes {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.vert-line {
  margin: 0 5px;
  border-left: 2px solid rgb(1, 2, 1);
  height: 100%;
}

.body-head {
  width: 24%;
  height: 100%;
}

.body-body {
  width: 35%;
  height: 100%;
}
.body-arm {
  width: 30%;
  height: 90%;
}

.body-legs {
  width: 40%;
  height: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.body-upper-section {
  display: flex;
  height: 25%;
  justify-content: center;
}

.body-mid-section {
  display: flex;
  height: 41%;
  justify-content: space-around;
}

.body-lower-section {
  display: flex;
  height: 53%;
  width: 46%;
  margin: 0 auto;
  justify-content: space-around;
}

.body {
  background-color: #59616f;
  border-radius: 11px;
}

/*#mainBubble {
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  font: 10px sans-serif;
  height: 800px;
  position: relative;
  width: 80%;
}

#mainBubble svg {
  left: 0;
  position: absolute;
  top: 0;
}

#mainBubble circle {
  fill: steelblue;
 }*/

 /* Animation */

 @-webkit-keyframes rotatate-y {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(0deg)   }
}

@keyframes rotate-y {
  0% {
    transform: perspective(120px);
    -webkit-transform: perspective(120px);
  } 50% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(180deg);
  } 100% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
  }
}
